.depart-date {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    padding: 0 5px;
    border-bottom: 1px solid #eee;
    &--end {
        font-size: 18px;
        color: #f70;
        margin-right: 12px;
    }
}

.depart-date::after {
    width: 12px;
    height: 12px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    content: "";
    right: 6px;
    top: 50%;
    margin-top: -5px;
}