.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0086f6;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    z-index: 960;
    &-icon {
        position: absolute;
        left: 0;
        width: 44px;
        height: 44px;
        display: inline-block;
        text-align: center;
        &--back::after {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            box-sizing: border-box;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: 500;
    }
}